.dimmer {
  background: #000;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.dialog-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: calc(5vh);
  left: calc(50vw - 300px);
  z-index: 2;
}

.dialog {
  background-color: white;
  width: 600px;
  border-radius: 5px;
  z-index: 2;
  margin-top: 45px;
}

.close-button-container {
  width: 100%;
  display: flex;
  padding: 8px 8px 0 0;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.close-button {
  position: absolute;
  left: 577px;
<<<<<<< HEAD
  font-family: 'Rambla', sans-serif;
=======
  font-family: "Rambla", sans-serif;
>>>>>>> f7b6d320835b0b0d7f85e609d244f1af571373ee
}

.indent {
  padding-left: 20px;
  line-height: 1em;
}

.story-title {
  font-size: larger;
  color: #2dabf3;
  font-weight: bold;
}

.info {
  margin: 15px;
  margin-left: 20px;
}

.button-container {
  margin-bottom: 14px;
  float: right;
  margin-right: 16px;
}

button {
  background-color: #2dabf3;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 11px;
  cursor: pointer;
}

.wide-input {
  width: 366px;
}

.wide-select {
  width: 366px;
}

.wide-textarea {
  width: 572px;
<<<<<<< HEAD
  font-family: 'Lora', serif;
}

input[type='text'],
input[type='number'],
=======
  font-family: "Lora", serif;
}

input[type="text"],
input[type="number"],
>>>>>>> f7b6d320835b0b0d7f85e609d244f1af571373ee
select,
textarea {
  padding: 9px 9px;
  margin: 4px 13px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #555;
  background-color: white;
}

::placeholder {
  color: #999;
  opacity: 1;
}

.form {
  margin-bottom: 7px;
}

.dark-button {
  background-color: #2378bc;
}

.light-button {
  border: 1px solid #2378bc;
  color: #2378bc;
  background-color: white;
}

.length-statement {
  line-height: 0;
  text-align: right;
  margin-top: 0;
  color: #555;
  padding: 7px 16px;
}

.title {
  padding-left: 15px;
  color: #1c5899;
  font-size: 20px;
<<<<<<< HEAD
=======
}

.date {
  padding-left: 30px;
  padding-top: 0;
  margin-top: 0;
  line-height: 0;
>>>>>>> f7b6d320835b0b0d7f85e609d244f1af571373ee
}

.left-text {
  float: left;
}
