<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!serverIp">
  <form
    (submit)="
      setServer(serverIp.value, serverPort.value); $event.preventDefault()
    "
  >
    <input
      type="text"
      value="localhost"
      name="serverIp"
      placeholder="Server IP"
      #serverIp
    />
    <input
      type="text"
      value="3000"
      name="serverPort"
      placeholder="Server Port"
      #serverPort
    />
    <input type="submit" value="Submit" />
  </form>
</div>
<div *ngIf="serverIp && !isLoggedIn()">
  <input type="text" name="username" placeholder="Username" #username />
  <input type="password" name="password" placeholder="Password" #password />
  <input
    type="button"
    value="Register"
    (click)="register(username.value, password.value)"
  />
  <input
    type="button"
    value="Log In"
    (click)="login(username.value, password.value)"
  />
</div>
<div *ngIf="serverIp && isLoggedIn()">
  <app-banner></app-banner>
  <app-page-content></app-page-content>
  <link
    href="https://fonts.googleapis.com/css?family=Rambla"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" />
</div>
