<div class="dimmer"></div>
<div class="dialog-container">
	<div class="dialog">
        <div class="close-button-container" (click)="close()"><div class="close-button">X</div></div>
        <h2>New Story</h2>
        <form 
          name="add-story-form" 
          class="form"
          (submit)="addStory(storyTitle.value, storyGenre.value, storyLink.value, storyBlurb.value, storyLength.value, storyReviews.value); $event.preventDefault()">
          <input class="wide-input" maxlength="50" type="text" name="title" placeholder="Title" #storyTitle />
          <select class="wide-select" name="genre" required #storyGenre>
            <option selected disabled>Genre</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Drama">Drama</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Fan-Fiction">Fan-Fiction</option>
            <option value="Horror">Horror</option>
            <option value="Humor">Humor</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Sci-Fi">Sci-Fi</option>
          </select>
          <input class="wide-input" maxLength="100" type="text" name="link" placeholder="Link (where can reviewers find your story?" #storyLink />
          <textarea class="wide-textarea" rows="8" cols="80" name="blurb" placeholder="Notes (what do you want reviewers to know about your story?" #storyBlurb></textarea>
          <input class="wide-input" maxLength="10" type="number" name="length" placeholder="Word Count" (change)="updateCost(storyReviews.value, storyLength.value)" #storyLength />
          <select class="wide-select" name="desiredReviews" (change)="updateCost(storyReviews.value, storyLength.value)" required #storyReviews>
            <option selected disabled>Desired Reviews</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <p class="warning">Posting this story will cost you {{postingCostNow + postingCostLater}} credit - {{postingCostNow}} today and {{postingCostLater}} as other authors review your story. Negative credit is allowed, but may cause your story to be marked as 'low priority'. Remember that you can gain credit by reviewing other author's stories!</p> 
          <div class="button-container">
            <button type="button" class="light-button" (click)="close()">Cancel</button>
            <button type="submit" class="dark-button">Post Now</button>
          </div>
        </form>
	</div>
</div>