<div class="card">
    <div class="info-col">
      <p class="story-title">{{story.title}}</p>
      <p class="indent">{{getTimeDiffStatement()}}</p>
      <p class="indent">Awaiting {{story.getReviewsLeft()}} reviews</p>
    </div>
    <div class="cta-col">
      <div class="cta-buttons">
        <button (click)="showMore()" class="light-button">See Story Details</button>
        <button (click)="showReviews()" class="dark-button">See Reviews</button>
      </div>
    </div>
  </div>
  <app-story-info-modal 
    *ngIf="shouldShowMore"
    [story]="story"
    [isReservable]="false"
    (closeEvent)="closeDialog($event)"
  ></app-story-info-modal>
  