.card {
    width: 70%;
    height: 126px;
    border: 1px solid grey;
    margin: 10px auto;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

p {
    margin-left: 10px;
    line-height: 0.5em;
}

button {
    background-color: #2DABF3;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 11px;
    cursor: pointer;
}

.info-col {
    display: flex;
    flex-direction: column;
}

.cta-col {
    position: relative;
    width: 276px;
}

.cta-buttons {
    position: absolute;
    bottom: 16px;
}

.indent {
    padding-left: 20px;
    line-height: 0em;
}

.story-title {
    font-size: larger;
    line-height: 1em;
    margin-bottom: 10px;
    color: #1c5899;
}

.dark-button {
    background-color: #2378bc;
}

.light-button {
    border: 1px solid #2378bc;
    color: #2378bc;
    background-color: white;
}

.reviews {
    max-height: 800px;
    transition: max-height 0.8s ease 0.1s;
    overflow: hidden;
}

.reviews p {
    line-height: 1em;
    border: 2px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 17px;
    padding-top: 11px;
    width: 68%;
    margin: auto;
}

.hidden {
    max-height: 0;
}

.non-button {
    border: 1px solid white;
    color: #2378bc;
    background-color: white;
}

.non-button:hover {
    cursor: default;
}