.page-content {
    margin-top: 5px;
}

.tab-holder {
    display: flex;
    flex-direction: row;
    font-family: 'Rambla', sans-serif;
    margin-left: 14px;
}

.tab {
    margin-right: 5px;
    color: #2DABF3;
    cursor: pointer;
    font-size: x-large;
    border-radius: 5px;
}

.tab:hover {
    color: #2378bc
}

.selected-tab {
    text-decoration: underline;
    cursor: auto;
}

.selected-tab:hover {
    color: #2DABF3
}

.tab p {
    line-height: 0.7em;
    padding: 10px;
    margin: 0;
}

.content-viewer {
    /* border: 5px solid #2DABF3; */
    width: 100%;
    margin-top: -5px;
}