.page-content {
  margin-top: 5px;
}

.tab-holder {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  font-family: 'Rambla', sans-serif;
=======
  font-family: "Rambla", sans-serif;
>>>>>>> f7b6d320835b0b0d7f85e609d244f1af571373ee
  margin-left: 14px;
  border-bottom: 1px solid gray;
}

.tab {
  margin-right: 5px;
  color: #2dabf3;
  cursor: pointer;
  font-size: x-large;
  border-radius: 5px;
}

.tab:hover {
  color: #2378bc;
  text-decoration: underline;
}

.selected-tab {
  text-decoration: underline;
  cursor: auto;
}

.selected-tab:hover {
  color: #2dabf3;
}

.tab p {
  line-height: 0.7em;
  padding: 10px;
  margin: 0;
}

.content-viewer {
  /* border: 5px solid #2DABF3; */
  width: 100%;
  margin-top: -5px;
}
