.page-content {
    margin-top: 5px;
}

.tab-holder {
    display: flex;
    flex-direction: row;
    font-family: 'Rambla', sans-serif;
    margin-left: 14px;
}

.tab {
    border: 5px solid #2DABF3;
    margin-right: 5px;
    color: #2DABF3;
    cursor: pointer;
    font-size: x-large;
}

.selected-tab {
    background-color: #2DABF3;
    color: white;
}

.tab p {
    line-height: 0.7em;
    padding: 10px;
    margin: 0;
}

.content-viewer {
    border: 5px solid #2DABF3;
    width: 100%;
    margin-top: -5px;
}